.login {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    .form-group {
        padding: 40px 0;
        input {
            display: block;
            margin: 10px auto;
        }
    }
}